@using System.Security.Claims
@model ML.Empleado
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<container>
    <div class="row">
        <div class="col">
            @* ================== TABLA BUSCAR  ==========================*@
            <div class="row">
                <h2>Empleados</h2>
                <div class="col">
                    <div class="col">
                        <div class="row justify-content-end" style="padding-bottom:20px">
                            <div class="btn-group col-3" role="group" aria-label="Basic example">
                                <a href="@Url.Action("EmpleadoForm", "Empleado")" class="btn btn-outline-primary">Agregar Empleado</a>
                                <button class="btn btn-outline-primary" id="buscarBTN"><i class="bi bi-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col table-responsive">

                        <div class="row" id="tablaBuscar" style="display:none">
                            <div class="col">
                                @using (Html.BeginForm("EmpleadoGetAll", "Empleado", FormMethod.Post))
                                {
                                    <div class="row" style="padding-bottom:30px">
                                        <div class="col-3">
                                            @Html.LabelFor(model => model.Nombre, new { @class = "form-label" })
                                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger", @style = "font-size:15px" })
                                        </div>
                                        <div class="col-3">
                                            @Html.LabelFor(model => model.ApellidoPaterno, new { @class = "form-label" })
                                            @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ApellidoPaterno, "", new { @class = "text-danger", @style = "font-size:15px" })
                                        </div>
                                        <div class="col-3">
                                            @Html.LabelFor(model => model.ApellidoMaterno, new { @class = "form-label" })
                                            @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control" })
                                        </div>
                                        <div class="col-3">
                                            @Html.LabelFor(model => model.Departamento.Departamentos, new { @class = "form-label" })
                                            @Html.DropDownListFor(model => model.Departamento.IdDepartamento, new SelectList(Model.Departamento.Departamentos, "IdDepartamento", "Descripcion"), "Departamento", new { @class = "form-control" })
                                        </div>

                                        <div class="row">
                                            <div class="col" style="padding-top:20px">
                                                <input type="submit" value="Buscar" class="btn btn-info" />
                                            </div>
                                        </div>
                                    </div>

                                }

                            </div>
                        </div>
                        <table class="table  table-dark">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>ApellidoPaterno</th>
                                    <th>ApellidoMaterno</th>
                                    <th>FechaNacimiento</th>
                                    <th>RFC</th>
                                    <th>NSS</th>
                                    <th>CURP</th>
                                    <th>FechaIngreso</th>
                                    <th>Departamento</th>
                                    <th>SalarioBase</th>
                                    <th>#NoFaltas</th>

                                    @if (@User.FindFirst(ClaimTypes.Role)?.Value! == "Administrador")
                                    {
                                        <th>CrearCuenta</th>
                                        <th>Editar</th>
                                        <th>Eliminar</th>
                                    
                                    }
                                    

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (ML.Empleado empleado in Model.Empleados)
                                {
                                    <tr>
                                        <td>@empleado.IdEmpleado</td>
                                        <td>@empleado.Nombre</td>
                                        <td>@empleado.ApellidoPaterno</td>
                                        <td>@empleado.ApellidoMaterno</td>
                                        <td>@empleado.FechaNacimiento</td>
                                        <td>@empleado.RFC</td>
                                        <td>@empleado.NSS</td>
                                        <td>@empleado.CURP</td>
                                        <td>@empleado.FechaIngreso</td>
                                        <td>@empleado.Departamento.Descripcion</td>
                                        <td>$@empleado.SalarioBase</td>
                                        <td>@empleado.NoFaltas</td>

                                        @if (@User.FindFirst(ClaimTypes.Role)?.Value! == "Administrador")
                                        {

                                            <td>
                                                <a href="@Url.Action("FormUserProfile", "UserProfile", new { IdEmpleado = empleado.IdEmpleado })"
                                                   class="btn btn-info">
                                                    <i class="bi bi-person-badge-fill"></i>

                                                </a>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("EmpleadoForm", "Empleado", new { IdEmpleado = empleado.IdEmpleado })"
                                                   class="btn btn-warning">
                                                    <i class="bi bi-pencil-square"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Delete", "Empleado", new { IdEmpleado = empleado.IdEmpleado })" onclick="return confirm('Deseas eliminar usuario?') " class="btn btn-danger"><i class="bi bi-trash3"></i></a>
                                            </td>
                                        }

                                    </tr>

                                }
                            </tbody>
                        </table>
                        

                    </div>

                </div>
            </div>
        </div>
    </div>
</container>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>


    $(document).ready(function () {
        $("#buscarBTN").click(function () {
            $("#tablaBuscar").toggle();
            if ($("#tablaBuscar").is(":visible")) {
                $('#tablaBuscar').show();

            } else {
                $('#tablaBuscar').hide();

            }
        });
    });

</script>