@model ML.Login
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@inject IHttpContextAccessor HttpContextAccessor
@{

    var sessionWrongCredentials = HttpContextAccessor.HttpContext.Session.GetString("WrongCredentiasl");

}


<container class="container shadow-lg rounded-4">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col" style="padding-bottom:20px">
                    <h1>Login</h1>
                </div>

                <div class="row shadow-lg rounded-3">
                    <div class="col " style="padding-top:20px; padding-bottom:20px">
                        @using (Html.BeginForm("Login", "Login", new { @class = "form-login" }))
                        {

                            <div class="flex-column-login">
                                @Html.LabelFor(model => model.Email, new { @class = "form-label" })

                            </div>
                            <div class="inputForm-login">
                                <svg height="20"
                                     viewBox="0 0 32 32"
                                     width="20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g id="Layer_3" data-name="Layer 3">
                                        <path d="m30.853 13.87a15 15 0 0 0 -29.729 4.082 15.1 15.1 0 0 0 12.876 12.918 15.6 15.6 0 0 0 2.016.13 14.85 14.85 0 0 0 7.715-2.145 1 1 0 1 0 -1.031-1.711 13.007 13.007 0 1 1 5.458-6.529 2.149 2.149 0 0 1 -4.158-.759v-10.856a1 1 0 0 0 -2 0v1.726a8 8 0 1 0 .2 10.325 4.135 4.135 0 0 0 7.83.274 15.2 15.2 0 0 0 .823-7.455zm-14.853 8.13a6 6 0 1 1 6-6 6.006 6.006 0 0 1 -6 6z"></path>
                                    </g>
                                </svg>
                                @Html.TextBoxFor(model => model.Email, new { @class = "input-login" })
                            </div>

                            <div class="flex-column-login">
                                @Html.LabelFor(model => model.Passsword, new { @class = "form-label" })

                            </div>
                            <div class="inputForm-login">
                                <svg height="20"
                                     viewBox="-64 0 512 512"
                                     width="20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="m336 512h-288c-26.453125 0-48-21.523438-48-48v-224c0-26.476562 21.546875-48 48-48h288c26.453125 0 48 21.523438 48 48v224c0 26.476562-21.546875 48-48 48zm-288-288c-8.8125 0-16 7.167969-16 16v224c0 8.832031 7.1875 16 16 16h288c8.8125 0 16-7.167969 16-16v-224c0-8.832031-7.1875-16-16-16zm0 0"></path>
                                    <path d="m304 224c-8.832031 0-16-7.167969-16-16v-80c0-52.929688-43.070312-96-96-96s-96 43.070312-96 96v80c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16v-80c0-70.59375 57.40625-128 128-128s128 57.40625 128 128v80c0 8.832031-7.167969 16-16 16zm0 0"></path>
                                </svg>
                                @Html.PasswordFor(model => model.Passsword, new { @class = "input-login" })

                            </div>

                            <div class="row justify-content-center">
                                <div class="col-3">
                                    <button class="button-submit-login" type="submit">Inicia sesión</button>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top:20px">
        <div class="col justify-content-center">
            @if (sessionWrongCredentials != null)
            {
                <!-- From Uiverse.io by andrew-demchenk0 -->

                <div class="error">
                    <div class="error__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" height="24" fill="none"><path fill="#393a37" d="m13 13h-2v-6h2zm0 4h-2v-2h2zm-1-15c-1.3132 0-2.61358.25866-3.82683.7612-1.21326.50255-2.31565 1.23915-3.24424 2.16773-1.87536 1.87537-2.92893 4.41891-2.92893 7.07107 0 2.6522 1.05357 5.1957 2.92893 7.0711.92859.9286 2.03098 1.6651 3.24424 2.1677 1.21325.5025 2.51363.7612 3.82683.7612 2.6522 0 5.1957-1.0536 7.0711-2.9289 1.8753-1.8754 2.9289-4.4189 2.9289-7.0711 0-1.3132-.2587-2.61358-.7612-3.82683-.5026-1.21326-1.2391-2.31565-2.1677-3.24424-.9286-.92858-2.031-1.66518-3.2443-2.16773-1.2132-.50254-2.5136-.7612-3.8268-.7612z"></path></svg>
                    </div>
                    <div class="error__title">@sessionWrongCredentials.</div>

                </div>

                @* <div class="alert alert-danger">
                    <p>@sessionWrongCredentials</p>
                </div> *@

            }
            else
            {
                <div></div>
            }
        </div>
    </div>

</container>



